.Dialog {
	&__CloseIcon {
		position: absolute;
		top: .5rem;
		right: .5rem;
		cursor: pointer;
		color: #FFFFFF;
	}
	&__Title {
		padding: .75rem !important;
		padding-top: 2.5rem !important;
	}
	&__Actions {
		padding: .75rem !important;
	}
}